
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-50deg, #f6d198 50%, #7ebdb4 50%);
    bottom:0;
    left:-50%;
    opacity:.3;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:6s;
  }
  
  .bg3 {
    animation-duration:7s;
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

